body {
  background-color: rgb(245, 245, 216);
  margin: 0;
  padding: 0;
}
/*CLOSED ENVELOPE*/

#CEnvelope {
  position: absolute;
  top: 7rem;
  left: 20rem;
}
#closeEnvelope {
  height: 22rem;
  width: 27rem;
  margin: auto;
  position: absolute;
}

@media (max-width: 550px) {
  #CEnvelope {
    position: absolute;
    top: 13rem;
    left: 4rem;
  }
  #closeEnvelope {
    height: 10rem;
    width: 12rem;
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  #CEnvelope {
    top: 20rem;
    left: 10rem;
  }
  #closeEnvelope {
    height: 23rem;
    width: 25rem;
  }
}
