@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=EB+Garamond&family=Silkscreen&display=swap");
body {
  background-color: rgb(245, 245, 216);
  margin: 0;
  padding: 0;
}
/*CLOSED ENVELOPE*/

#CEnvelope {
  background-color: aqua;
  position: absolute;
  top: 8rem;
  left: 22rem;
}
#closeEnvelope {
  height: 23rem;
  width: 25rem;
  margin: auto;
  position: absolute;
}

/*BUTTON*/

#call {
  padding: 0.6rem 1rem;
  width: 10rem;
  height: 4rem;
  font-size: 1.7rem;
  font-family: cursive;
  border-radius: 30%;
  background-color: rgb(180, 33, 33);
  color: black;
  font-weight: 400;
  position: absolute;
  /*top: 80%;
  left: 45%;*/
  top: 22rem;
  left: 16rem;
  box-shadow: 1rem 1rem 0.5rem rgb(161, 64, 64);
}
#call a {
  text-decoration: none;
  color: black;
}
/*HEADING*/

#mailHead {
  font-size: 4.2rem;
  font-family: "Silkscreen", cursive;
  text-align: center;
}
/* #caption {
  font-size: 3rem;
  font-family: "EB Garamond", serif;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 30%;
  /* visibility: hidden; 
} */

/*OPEN ENVELOPE*/

#openEnvelope {
  height: 24rem;
  width: 28rem;
  position: absolute;
  top: 20%;
  left: 34%;
  opacity: 0;
}

/*LETTER*/

#letter {
  display: block;
  background-color: rgb(240, 232, 196);
  width: 26rem;
  height: 14rem;
  position: absolute;
  top: 21%;
  left: 35%;
  box-shadow: 1.5rem 1.5rem 3rem rgb(228, 226, 148);
  visibility: hidden;
}
#letter h3 {
  margin-top: 2%;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  margin-bottom: 0;
}
#letter p {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1.7rem;
}
#letter img {
  position: relative;
  left: 40%;
}
#letter button {
  border: 2px dashed black;
  border-radius: 20%;
  background-color: bisque;
  position: relative;
  left: 37%;
  top: 2%;
  padding: 5px;
}

#letter button a {
  text-decoration: dotted;
  color: black;
  font-size: 25px;
}
#letter button a:hover {
  color: rgb(116, 28, 28);
}

/*INVITE CARD*/

@media (max-width: 550px) {
  #CEnvelope {
    position: absolute;
    top: 13rem;
    left: 4rem;
  }
  #closeEnvelope {
    height: 10rem;
    width: 12rem;
  }
  #call {
    top: 25vh;
    left: 15vw;
    height: 2.5rem;
    width: 7rem;
    font-size: 1rem;
    text-align: center;
  }

  #mailHead {
    font-size: 2.4rem;
    margin-left: -3%;
  }
  #openEnvelope {
    height: 11rem;
    width: 14rem;
    top: 17rem;
    left: 5rem;
  }
  #letter {
    height: 7rem;
    width: 12rem;
    top: 10rem;
    left: 6rem;
  }
  #letter h3 {
    font-size: 1.1rem;
  }
  #letter p {
    margin-top: 4px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  #letter img {
    display: none;
  }
  #letter button a {
    font-size: 12px;
    font-weight: 900;
  }
  #letter button {
    position: relative;
    margin-left: -9%;
    width: 5.5rem;
    height: 1.7rem;
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  #CEnvelope {
    top: 20rem;
    left: 10rem;
  }
  #closeEnvelope {
    height: 23rem;
    width: 25rem;
  }
  #call {
    top: 33vh;
    left: 20vw;
  }
  #openEnvelope {
    height: 20rem;
    width: 25rem;
    top: 20rem;
    left: 12rem;
  }
  #letter {
    height: 13rem;
    width: 22rem;
    top: 25rem;
    left: 13.5rem;
  }
  #letter h3 {
    font-size: 2rem;
    margin-top: 5%;
  }
  #letter p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #letter img {
    display: none;
  }
  #letter button a {
    font-size: 35px;
  }
  #letter button {
    position: relative;
    margin-left: -10%;
  }
}
/*BALLOON*/
#balloon1 {
  position: absolute;
}

#balloon2 {
  position: absolute;
}
#balloon3 {
  position: absolute;
  height: 18rem;
  width: 17rem;
  margin-top: -2%;
}
#head {
  display: block;
  color: #4c0033;
  background: linear-gradient(to bottom, #b93160, #d75281);
  border: 2 px solid white;
  border-radius: 60%;
  width: 8%;
  height: 40%;
  padding: 0 6%;
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 2;
}
#head h1 {
  font-size: 2.2rem;
  width: 130%;
  margin-left: -7%;
  transform: skewY(-20deg);
}

#block2 {
  display: block;
  background: linear-gradient(to top, #5c5454, #19111f, #151515);
  border: 2 px solid white;
  border-radius: 50%;
  width: 3%;
  padding: 6%;
  position: absolute;
  top: 60%;
  left: 35%;
  z-index: 1;
}

#block1 {
  display: block;
  background-color: #080808;
  border: 2 px solid white;
  border-radius: 50%;
  width: 15%;
  height: 70%;
  padding: 0 10%;
  position: absolute;
  top: 20%;
  left: 35%;
  z-index: 3;
}
#block1 img {
  width: 40%;
  position: relative;
  left: 24%;
  top: 5%;
}
#block1 h2 {
  margin-top: 0;
  font-size: 3.5rem;
  width: 200%;
  position: relative;
  right: 35%;
  top: 7%;
  font-family: "EB Garamond", serif;
  color: #ff1e1e;
}
#block1 h3 {
  font-size: 2rem;
  width: 150%;
  text-align: center;
  position: relative;
  right: 22%;
  color: #e9d3c1;
}
#sparkle {
  width: 7%;
  position: absolute;
  top: 29%;
  left: 63%;
  z-index: 4;
}
